.notification {
    padding: 15px;
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

    .notification.success {
        background-color: #28a745;
        color: white;
    }

    .notification.error {
        background-color: #dc3545;
        color: white;
    }

/* Ocultar el mensaje después de 5 segundos */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.notification {
    animation: fadeOut 5s forwards;
}
